<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <h1>ooops 404 </h1>
    <p>Page you are looking not found</p>
  </div>
</main>
</body>
</html>